<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<head>

<style>
.yourClass { color: grey;
background-color: lightgrey;
    border-radius: 1em;}
    .table
    {
    	display:table;
    	border-collapse:separate;
    	border-spacing:2px;
    }
    .thead
    {
    	display:table-header-group;
    	color:white;
    	font-weight:bold;
    	background-color:grey;
    }
    .tbody
    {
    	display:table-row-group;
    }
    .tr
    {
    	display:table-row;
    }
    .td
    {
    	display:table-cell;
    	border:1px solid black;
    	padding:1px;
    }
    .tr.editing .td INPUT
    {
    	width:100px;
    }
</style>
<link rel="stylesheet" href="http://bulma.io/css/bulma-docs.css">
<!-- <link rel="stylesheet" href="/static/stylesheets/bulma.css"> -->
<title>NWA</title>
</head>
<body>
  <section class="hero">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column">
          <p class="title">
            CTS NWA
          </p>
          <p class="subtitle">
            Needleman-Wunsch based Alignment of CTS Textnodes
          </p>
        </div>
      </div>
    </div>
  </div>

</section>
<section>
  <div class="table">

      {{.AlignmentDivs}}

  </div>
</section>
<section>
  <div class="columns">
<div class="column is-narrow">
    <div class="box" style="width: 300px;">

<w alignment="1">parīkṣitāni</w>
<w alignment="2">pramāṇāni</w>
<w alignment="3">prameyam</w>
<w alignment="4">idānīṃ</w>
<w alignment="5">parīkṣyate</w>
<w alignment="6">tac</w>
<w alignment="7">cātmādīty</w>
<w alignment="8">ātmā</w>
<w alignment="9">vivicyate</w>
<w alignment="10">kiṃ</w>
<w alignment="11">dehendriyamanobuddhisaṃghātamātra</w>
<w alignment="12">ātmā</w>
<w alignment="13">āhosvit</w>
<w alignment="14">tadvyatirikta</w>
<w alignment="15">iti</w>
<w alignment="16">kutaḥ</w>
<w alignment="17">saṃśayaḥ</w>
<w alignment="18">vyapadeśasyobhayathā</w>
<w alignment="19">siddheḥ</w>
<w alignment="20">kriyākaraṇayoḥ</w>
<w alignment="21">kartrā</w>
<w alignment="22">saṃbandhasyābhidhānaṃ</w>
<w alignment="23">vyapadeśaḥ</w>
<w alignment="24">sa</w>
<w alignment="25">dvividhaḥ</w>
<w alignment="26">avayavena</w>
<w alignment="27">samudāyasya</w>
<w alignment="28">mūlair</w>
<w alignment="29">vṛkṣas</w>
<w alignment="30">tiṣṭhati</w>
<w alignment="31">stambhaiḥ</w>
<w alignment="32">prāsādo</w>
<w alignment="33">dhriyata</w>
<w alignment="34">itianyenānyasya</w>
<w alignment="35">vyapadeśaḥ</w>
<w alignment="36">paraśunā</w>
<w alignment="37">vṛścati</w>
<w alignment="38">pradīpena</w>
<w alignment="39">paśyatīti</w>
<w alignment="40">asti</w>
<w alignment="41">cāyaṃ</w>
<w alignment="42">vyapadeśaḥ</w>
<w alignment="43">cakṣuṣā</w>
<w alignment="44">paśyati</w>
<w alignment="45">manasā</w>
<w alignment="46">vijānāti</w>
<w alignment="47">buddhyā</w>
<w alignment="48">vicārayati</w>
<w alignment="49">śarīreṇa</w>
<w alignment="50">sukhaduḥkham</w>
<w alignment="51">anubhavatīti</w>
<w alignment="52">tatra</w>
<w alignment="53">nāvadhāryate</w>
<w alignment="54">kim</w>
<w alignment="55">avayavena</w>
<w alignment="56">samudāyasya</w>
<w alignment="57">dehādisaṃghātasya</w>
<w alignment="58">athānyenāsya</w>
<w alignment="59">tadvyatiriktasyeti</w>
<w alignment="60">anyenāyam</w>
<w alignment="61">anyasya</w>
<w alignment="62">vyapadeśaḥ</w>
<w alignment="63">kasmāt</w>
<w alignment="64">darśanasparśanābhyām</w>
<w alignment="65">ekārthagrahaṇāt</w>
<w alignment="66">darśanena</w>
<w alignment="67">kaścid</w>
<w alignment="68">artho</w>
<w alignment="69">gṛhītaḥ</w>
<w alignment="70">sparśanenāpi</w>
<w alignment="71">so</w>
<w alignment="72">rtho</w>
<w alignment="73">gṛhyate</w>
<w alignment="74">yam</w>
<w alignment="75">aham</w>
<w alignment="76">adrākṣaṃ</w>
<w alignment="77">cakṣuṣā</w>
<w alignment="78">taṃ</w>
<w alignment="79">sparśanenāpi</w>
<w alignment="80">spṛśāmīti</w>
<w alignment="81">yaṃ</w>
<w alignment="82">cāspārkṣaṃ</w>
<w alignment="83">sparśanena</w>
<w alignment="84">taṃ</w>
<w alignment="85">cakṣuṣā</w>
<w alignment="86">paśyāmīti</w>
<w alignment="87">ekaviṣayau</w>
<w alignment="88">cemau</w>
<w alignment="89">pratyayāv</w>
<w alignment="90">ekakarttṛkau</w>
<w alignment="91">pratisandhīyete</w>
<w alignment="92">na</w>
<w alignment="93">casaṃghātakartṛkau</w>
<w alignment="94">nendriyeṇaikakartṛkau</w>
<w alignment="95">tad</w>
<w alignment="96">yo</w>
<w alignment="97">sau</w>
<w alignment="98">cakṣuṣā</w>
<w alignment="99">tvagindriyeṇa</w>
<w alignment="100">caikārthasya</w>
<w alignment="101">saṃgṛhītā</w>
<w alignment="102">bhinnanimittāv</w>
<w alignment="103">ananyakartṛkau</w>
<w alignment="104">pratyayau</w>
<w alignment="105">samānaviṣayau</w>
<w alignment="106">pratisandadhāti</w>
<w alignment="107">so</w>
<w alignment="108">rthāntarabhūta</w>
<w alignment="109">ātmā</w>
<w alignment="110">kathaṃ</w>
<w alignment="111">punar</w>
<w alignment="112">nendriyeṇaikakartṛkau</w>
<w alignment="113">indriyaṃ</w>
<w alignment="114">khalu</w>
<w alignment="115">svaṃ</w>
<w alignment="116">svaṃ</w>
<w alignment="117">viṣayagrahaṇam</w>
<w alignment="118">ananyakartṛkaṃpratisandhātum</w>
<w alignment="119">arhati</w>
<w alignment="120">nendriyāntarasya</w>
<w alignment="121">viṣayāntaragrahaṇam</w>
<w alignment="122">iti</w>
<w alignment="123">kathaṃ</w>
<w alignment="124">na</w>
<w alignment="125">saṃghātakartṛkau</w>
<w alignment="126">ekaḥ</w>
<w alignment="127">khalv</w>
<w alignment="128">ayaṃ</w>
<w alignment="129">bhinnanimittau</w>
<w alignment="130">svātmakartṛkaupratisaṃhitau</w>
<w alignment="131">vedayate</w>
<w alignment="132">na</w>
<w alignment="133">saṃghātaḥ</w>
<w alignment="134">kasmāt</w>
<w alignment="135">anivṛttaṃ</w>
<w alignment="136">hi</w>
<w alignment="137">saṃghāte</w>
<w alignment="138">pratyekaṃ</w>
<w alignment="139">viṣayāntaragrahaṇasyāpratisandhānam</w>
<w alignment="140">indriyāntareṇeveti</w>
</div>
</div>
<div class="column is-narrow">
    <div class="box" style="width: 300px;">

<w alignment="1">parīkṣitāni</w>
<w alignment="2">pramāṇāni</w>
<w alignment="3">prameyam</w>
<w alignment="4">idānīṃ</w>
<w alignment="5">parīkṣyate</w>
<w alignment="6">tac</w>
<w alignment="7">cātmādīty</w>
<w alignment="8">ātmā</w>
<w alignment="9">vibicyate</w>
<w alignment="10">kiṃ</w>
<w alignment="11">dehendriyamanovuddhisaṃghātamātra</w>
<w alignment="12">ātmā</w>
<w alignment="13">āhosvit</w>
<w alignment="14">tadvyatirikta</w>
<w alignment="15">iti</w>
<w alignment="16">kutaḥ</w>
<w alignment="17">saṃśayaḥ</w>
<w alignment="18">vyapadeśasyobhayathā</w>
<w alignment="19">siddheḥ</w>
<w alignment="20">kriyākaraṇayoḥ</w>
<w alignment="21">kartrā</w>
<w alignment="22">saṃbandhasyābhidhānaṃ</w>
<w alignment="23">vyapadeśaḥ</w>
<w alignment="24">sa</w>
<w alignment="25">dvividhaḥ</w>
<w alignment="26">avayavena</w>
<w alignment="27">samudāyasya</w>
<w alignment="28">mūlair</w>
<w alignment="29">vṛkṣas</w>
<w alignment="30">tiṣṭhati</w>
<w alignment="31">stambhaiḥ</w>
<w alignment="32">prāsādo</w>
<w alignment="33">dhriyata</w>
<w alignment="0">iti</w>
<w alignment="34">anyenānyasya</w>
<w alignment="35">vyapadeśaḥ</w>
<w alignment="36">paraśunā</w>
<w alignment="37">vṛścati</w>
<w alignment="38">pradīpena</w>
<w alignment="39">paśyati</w>
<w alignment="40">asti</w>
<w alignment="41">cāyaṃ</w>
<w alignment="42">vyapadeśaḥ</w>
<w alignment="43">cakṣuṣā</w>
<w alignment="44">paśyati</w>
<w alignment="45">manasā</w>
<w alignment="46">vijānāti</w>
<w alignment="47">vuddhyā</w>
<w alignment="48">vicārayati</w>
<w alignment="49">śarīreṇa</w>
<w alignment="50">sukhaduḥkham</w>
<w alignment="51">anubhavatīti</w>
<w alignment="52">tatra</w>
<w alignment="53">nāvadhāryate</w>
<w alignment="54">kim</w>
<w alignment="55">avayavena</w>
<w alignment="56">samudāyasya</w>
<w alignment="57">dehādisaṃghātasya</w>
<w alignment="58">athānyenāsya</w>
<w alignment="59">tadvyatiriktasyeti</w>
<w alignment="60">anyenāyam</w>
<w alignment="61">anyasya</w>
<w alignment="62">vyapadeśaḥ</w>
<w alignment="63">kasmāt</w>
<w alignment="64">darśanasparśanābhyām</w>
<w alignment="65">ekārthagrahaṇāt</w>
<w alignment="66">darśanena</w>
<w alignment="67">kaścid</w>
<w alignment="68">artho</w>
<w alignment="69">gṛhītaḥ</w>
<w alignment="70">sparśanenāpi</w>
<w alignment="71">so</w>
<w alignment="72">rtho</w>
<w alignment="73">gṛhyate</w>
<w alignment="74">yam</w>
<w alignment="75">aham</w>
<w alignment="76">adrākṣaṃ</w>
<w alignment="77">cakṣuṣā</w>
<w alignment="78">taṃ</w>
<w alignment="79">sparśanenāpi</w>
<w alignment="80">spṛśāmīti</w>
<w alignment="81">yaṃ</w>
<w alignment="82">cāspārkṣaṃ</w>
<w alignment="83">sparśanena</w>
<w alignment="84">taṃ</w>
<w alignment="85">cakṣuṣā</w>
<w alignment="86">paśyāmīti</w>
<w alignment="87">ekaviṣayau</w>
<w alignment="88">cemau</w>
<w alignment="89">pratyayāv</w>
<w alignment="90">ekakarttṛkau</w>
<w alignment="91">pratisandhīyete</w>
<w alignment="92">na</w>
<w alignment="0">ca</w>
<w alignment="93">saṃghātakartṛkau</w>
<w alignment="94">nendriyeṇaikakartṛkau</w>
<w alignment="95">tad</w>
<w alignment="96">yo</w>
<w alignment="97">sau</w>
<w alignment="98">cakṣuṣā</w>
<w alignment="99">ttvagindriyeṇa</w>
<w alignment="100">caikārthasya</w>
<w alignment="101">saṃgṛhītā</w>
<w alignment="102">bhinnanimittāv</w>
<w alignment="103">ananyakarttṛkau</w>
<w alignment="104">pratyayau</w>
<w alignment="105">samānaviṣayau</w>
<w alignment="106">pratisandadhāti</w>
<w alignment="107">so</w>
<w alignment="108">rthāntarabhūta</w>
<w alignment="109">ātmā</w>
<w alignment="110">kathaṃ</w>
<w alignment="111">punar</w>
<w alignment="112">nendriyeṇaikakarttṛkau</w>
<w alignment="113">indriyaṃ</w>
<w alignment="114">khalu</w>
<w alignment="116">svaṃ</w>
<w alignment="0">svaṃ</w>
<w alignment="117">viṣayagrahaṇam</w>
<w alignment="118">ananyakartṛkaṃ</w>
<w alignment="0">pratisandhātum</w>
<w alignment="119">arhati</w>
<w alignment="120">nendriyāntarasya</w>
<w alignment="121">viṣayāntaragrahaṇam</w>
<w alignment="122">iti</w>
<w alignment="123">kathaṃ</w>
<w alignment="124">na</w>
<w alignment="125">saṃghātakartṛkau</w>
<w alignment="126">ekaḥ</w>
<w alignment="127">khalv</w>
<w alignment="128">ayaṃ</w>
<w alignment="129">bhinnanimittau</w>
<w alignment="130">svātmakartṛkau</w>
<w alignment="0">pratisaṃhitau</w>
<w alignment="131">vedayate</w>
<w alignment="132">na</w>
<w alignment="133">saṃghātaḥ</w>
<w alignment="134">kasmāt</w>
<w alignment="135">anivṛttaṃ</w>
<w alignment="136">hi</w>
<w alignment="137">saṃghāte</w>
<w alignment="138">pratyekaṃ</w>
<w alignment="139">viṣayāṃntaragrahaṇasyāpratisandhānam</w>
<w alignment="140">indriyāntareṇeveti</w>
</div>
</div>
<div class="column is-narrow">
    <div class="box" style="width: 300px;">

<w alignment="2">parīkṣitānipramāṇāni</w>
<w alignment="3">prameyam</w>
<w alignment="10">idānīṃ</w>
<w alignment="5">parīkṣyate</w>
<w alignment="7">ātmādīti</w>
<w alignment="0">ātmā</w>
<w alignment="9">vicāryyate</w>
<w alignment="11">deheṃdriyamanobuddhisaṃghātamātram</w>
<w alignment="12">ātmā</w>
<w alignment="13">āhosvit</w>
<w alignment="6">tato</w>
<w alignment="14">vyatirikta</w>
<w alignment="15">iti</w>
<w alignment="16">kutaḥ</w>
<w alignment="0">saṃśayaḥ</w>
<w alignment="18">vyapadeśasyobhayathā</w>
<w alignment="19">siddheḥ</w>
<w alignment="17">saṃśayaḥ</w>
<w alignment="21">kriyākaraṇayoḥ</w>
<w alignment="58">karttānidhānaṃ</w>
<w alignment="0">vyapadeśo</w>
<w alignment="0">pi</w>
<w alignment="25">dvividhaḥ</w>
<w alignment="26">avayavena</w>
<w alignment="27">samudāyasya</w>
<w alignment="28">mūlair</w>
<w alignment="29">vṛkṣas</w>
<w alignment="30">tiṣṭati</w>
<w alignment="31">staṃbhaiḥ</w>
<w alignment="32">prāsādo</w>
<w alignment="33">dhriyate</w>
<w alignment="0">iti</w>
<w alignment="0">anyena</w>
<w alignment="0">vā</w>
<w alignment="34">anyasya</w>
<w alignment="35">vyapadeśaḥ</w>
<w alignment="36">paraśunā</w>
<w alignment="37">vṛścati</w>
<w alignment="38">pradīpena</w>
<w alignment="39">paśyati</w>
<w alignment="0">〈</w>
<w alignment="40">a〉sti</w>
<w alignment="41">cāyaṃ</w>
<w alignment="42">vyapadeśaḥ</w>
<w alignment="43">cakṣuṣā</w>
<w alignment="44">paśyati</w>
<w alignment="45">manasā</w>
<w alignment="46">vijānāti</w>
<w alignment="47">buddhyā</w>
<w alignment="48">vicārayati</w>
<w alignment="49">śarīreṇa</w>
<w alignment="50">sukhaduḥkham</w>
<w alignment="51">anubhavatīti</w>
<w alignment="52">tatra</w>
<w alignment="53">nāvadhāryyate</w>
<w alignment="54">ki[ṃ]m</w>
<w alignment="55">avayavena</w>
<w alignment="56">samudāyasya</w>
<w alignment="57">de[śa]hādisaṃghātasya</w>
<w alignment="0">[.]〈vya〉〈pa〉deśaḥ</w>
<w alignment="0">athānyena</w>
<w alignment="61">anyasya</w>
<w alignment="59">tadvyatiriktasyeti</w>
<w alignment="60">anyena</w>
<w alignment="0">anyasya</w>
<w alignment="62">vyapadeśaḥ</w>
<w alignment="63">kasmād</w>
<w alignment="64">darśanasparśanābhyām</w>
<w alignment="65">ekārthagrahaṇāt</w>
<w alignment="66">darśanena</w>
<w alignment="67">kaścid</w>
<w alignment="72">artho</w>
<w alignment="73">gṛhītaḥ</w>
<w alignment="70">sparśanenāpi</w>
<w alignment="0">gṛhyate</w>
<w alignment="75">yam</w>
<w alignment="76">adrākṣaṃ</w>
<w alignment="0">cakṣu[rmān</w>
<w alignment="0">s]〈ṣā</w>
<w alignment="78">ta〉ṃ</w>
<w alignment="79">(s)parśanenāpi</w>
<w alignment="80">spṛśāmīti</w>
<w alignment="0">yam</w>
<w alignment="82">asprākṣaṃ</w>
<w alignment="83">spa[rśe]〈rśa〉nena</w>
<w alignment="84">taṃ</w>
<w alignment="85">cakṣuṣā</w>
<w alignment="86">paśyāmīti</w>
<w alignment="87">ekaviṣayau</w>
<w alignment="88">cemau</w>
<w alignment="89">pratyayā[k]〈v〉</w>
<w alignment="90">ekakarttṛkau</w>
<w alignment="91">pratisaṃdhīyete</w>
<w alignment="92">na</w>
<w alignment="93">saṃghātakartṛkau</w>
<w alignment="94">neṃdriyeṇaikakartṛkau</w>
<w alignment="95">tad</w>
<w alignment="96">yo</w>
<w alignment="97">’sau</w>
<w alignment="98">cakṣuṣā</w>
<w alignment="0">tam</w>
<w alignment="99">iṃdriyeṇa</w>
<w alignment="100">vaikasyārthasya</w>
<w alignment="101">gṛhītā</w>
<w alignment="102">bhinnanimittāv</w>
<w alignment="103">ananyakartṛkau</w>
<w alignment="104">pratyayau</w>
<w alignment="105">samānaviṣayau</w>
<w alignment="106">pratisaṃdadhāti</w>
<w alignment="107">so</w>
<w alignment="108">’rthāṃtarastūta</w>
<w alignment="109">ātmeti</w>
<w alignment="110">ka[pa]〈tha〉ṃ</w>
<w alignment="111">punar</w>
<w alignment="112">neṃdriyeṇaikakartṛkāv</w>
<w alignment="113">iṃdriyaṃ</w>
<w alignment="114">khalu</w>
<w alignment="116">svaṃ</w>
<w alignment="0">viṣayagrahaṇaṃ</w>
<w alignment="118">ananyakartṛkaṃ</w>
<w alignment="0">pratisaṃdhātum</w>
<w alignment="119">arhati</w>
<w alignment="120">neṃdriyāṃtarasya</w>
<w alignment="121">viṣayagrahaṇam</w>
<w alignment="122">iti</w>
<w alignment="131">na</w>
<w alignment="125">saṃghātakartṛkau</w>
<w alignment="126">ekaṃ</w>
<w alignment="127">khalv</w>
<w alignment="128">ayaṃ</w>
<w alignment="129">bhinna[m]〈n〉imittau</w>
<w alignment="0">pratyayau</w>
<w alignment="130">svātmakartṛkau</w>
<w alignment="136">pratisaṃhitaṃ</w>
<w alignment="0">veday[e]〈a〉te</w>
<w alignment="132">na</w>
<w alignment="133">saṃghātaḥ</w>
<w alignment="134">kasmād</w>
<w alignment="135">anivṛttaṃ</w>
<w alignment="137">〈saṃghāte</w>
<w alignment="138">pratyekaṃ</w>
<w alignment="139">viṣayāṃtaragrahaṇasya</w>
<w alignment="0">pratisaṃdhānam</w>
<w alignment="140">iṃdriyāṃtareṇaiveti</w>
</div>
</div>
</div>
</section>
<section>
  <div class="container">
    <div class="columns">
      <div class="column is-narrow">
        <div class="box" style="width: 300px;">
        <iframe src="http://openseadragon.github.io/openseadragonizer/?img=http%3A%2F%2Fomeka.dh.uni-leipzig.de%2Ffiles%2Foriginal%2F11%2Furn_cite_nbh_Kurukshetra_KuS%2FKuS_202_98v_P1000549.JPG&encoded=true" style="width: 250px;">
        </iframe>
      </div>
      </div>
      <div class="column is-narrow">
        <div class="box" style="width: 300px;">
          <iframe src="http://openseadragon.github.io/openseadragonizer/?img=http%3A%2F%2Fomeka.dh.uni-leipzig.de%2Ffiles%2Foriginal%2F11%2Furn_cite_nbh_Kurukshetra_KuS%2FKuS_202_98v_P1000549.JPG&encoded=true" style="width: 250px;">
          </iframe>
      </div>
      </div>
      <div class="column is-narrow">
        <div class="box" style="width: 300px;">
          <iframe src="http://openseadragon.github.io/openseadragonizer/?img=http%3A%2F%2Fomeka.dh.uni-leipzig.de%2Ffiles%2Foriginal%2F11%2Furn_cite_nbh_Kurukshetra_KuS%2FKuS_202_98v_P1000549.JPG&encoded=true" style="width: 250px;">
          </iframe>
      </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="columns">
      <div class="column is-narrow">
<div class="field" style="width: 950px;">
  <p class="control">
    <textarea class="textarea" style = "height: 400px">
#NEXUS
Begin data;
Dimensions ntax=4 nchar=15;
Format datatype=dna missing=? gap=-;
Matrix
Species1   atgctagctagctcg
Species2   atgcta??tag-tag
Species3   atgttagctag-tgg
Species4   atgttagctag-tag
;
End;
    </textarea>
  </p>
</div>
</div>
</div>
</div>
</section>
</body>
<script src="https://hypothes.is/embed.js" async></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$('w').hover(function(){
    //alert( $(this).attr("title"));
    $("w[alignment='" + $(this).attr("alignment") + "']").addClass('yourClass');
}, function() {
    $("w[alignment='" + $(this).attr("alignment") + "']").removeClass('yourClass');
});
function edit(element){
	var tr = jQuery(element).parent().parent();
	if(!tr.hasClass("editing")) {
		tr.addClass("editing");
		tr.find("DIV.td").each(function(){
			if(!jQuery(this).hasClass("action")){
				var value = jQuery(this).text();
				jQuery(this).text("");
				jQuery(this).append('<input type="text" value="'+value+'" />');
			} else {
				jQuery(this).find("BUTTON").text("save");
			}
		});
	} else {
		tr.removeClass("editing");
		tr.find("DIV.td").each(function(){
			if(!jQuery(this).hasClass("action")){
				var value = jQuery(this).find("INPUT").val();
				jQuery(this).text(value);
				jQuery(this).find("INPUT").remove();
			} else {
				jQuery(this).find("BUTTON").text("edit");
			}
		});
	}
}
</script>
</html>
