<!doctype html>
<html>
  <script src="https://hypothes.is/embed.js" async></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://rawgit.com/elijahjcooke/Misc/master/alpheios-morphlib.js"></script>
<head>
  <meta charset="utf-8">
  <title>{{.Title}}</title>
  <link rel="stylesheet" href="/static/stylesheets/bulma.css">
</head>
<body>
  <div class="container">
    <h2 class="subtitle">{{.Title}}</h2>
    <button>Download 82XF</button>
    <button>Download CEX</button>
    <button>Download XML</button>
    <hr>
    <div class="media-right">
      {{.Passage}}
    </div>
  </div>
  <script>
      var lib = new morphlibrary("grc-lsj-defs.json");
      lib.activate("grc","body");
  </script>
</body>
</html>
